.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.typing-animation img{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    
}

.notification{
    width:5px ;
    height: 5px;
    
    padding: 5px;
    color: red;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    
}